<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <nav>
      <ul>
        <li><a href="/robots">List Robots</a></li>
      </ul>
    </nav>

    <hr style="margin-top:2em;">

    <% include ./footer %>
  </body>
</html>
