<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= (2+2) %></h1>
    <p><%= myMessage %></p>
    <p><%= otherMessage %></p>
  </body>
</html>
